.navbar-main {}

.navbar-main__item {
  position: relative;
  font-family: "Bahnschrift", sans-serif;
}

.navbar-main__item.navbar-main__item--logo>a {
  opacity: 1;
}

.navbar-main__item>a {
  opacity: .65;
}


.navbar-main__item>a.active {
  opacity: 1;
}

.navbar-main__item::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: width 0.2s ease-in-out;
}

.navbar-main__item:hover::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: black;
}

.navbar-main__item--child::before {
  display: none;
}

.navbar-main__item--child:hover {
  background-color: white;
}


/* Styl pro hlavní navigaci */
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

.hamburger-menu .open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu .open:nth-child(2) {
  opacity: 0;
}

.hamburger-menu .open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Menu na menších obrazovkách */
.menu {
  display: none;
}

.menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}

.menu li {
  padding: 10px 0;
  text-align: center;
}

/* Na větších obrazovkách */
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }
}