# .github/workflows/rosti_deploy.yml

name: Deploy into Roští.cz

on:
  push:
    branches:
      - master

jobs:
    deploy:
      runs-on: ubuntu-latest
      environment: rosti
      env:
        HOST: ssh.rosti.cz
        USER: app
        PORT: 11793
        NODE_VERSION: 22.9.0
      steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "v22.9.0"
      - uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.ROSTI_DEPLOY_SSH_KEY }}
      - name: Setup hostkey
        run: |
          echo "ssh.rosti.cz ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCYNGgc4GMEUzgVscdowrM93RmrRLlQ/dblhpCKnYiE7/sLaO2m5/i8vgmOS8VzogT4CbP6MHmghKVuEA6rRb1OXvl8suBhrCe3kjD4BjcJB6+RpLMteMGz5EOFKJouTyf0qBQqltD9DBsga/IdhX7EyfyTsgzDuMadwCStS/XGwm17x1U77zdf3Lop70pu4mXS+ryNTW2t6m+oEHLYoDZ6en5TnBGACT8G6Xet4hy9vLly88lmKvzK93m81zqQmDeIyJNhdpy9h/qi9J1sZ8jeRAww8E/LMOMvaqzlL2J0AFb3O80scFTPx/LLrBNbEJ1KfzbM4sQxrsH0gG+/mBnP" > ./known_hosts
      - name: Create .env file
        run: |
          cat <<EOF > .env
          DATABASE_URL_CLOUD=${{ secrets.DATABASE_URL_CLOUD }}
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          PROJECT_NAME=${{ secrets.PROJECT_NAME }}
          GMAIL_USER=${{ secrets.GMAIL_USER }}
          GMAIL_PASWD=${{ secrets.GMAIL_PASWD }}
          EOF
      - name: Dependencies
        run: |
          npm install
      - name: Install Sharp for Linux-x64
        run: |
          npm install --cpu=x64 --os=linux sharp
      - name: Build
        run: |
          npm run build
      - name: Setup Node.js
        run: |
          ssh -o UserKnownHostsFile=./known_hosts -p $PORT $USER@$HOST /usr/local/bin/rosti node $NODE_VERSION
      - name: Setup Supervisord
        run: |
          cat << EOF > rosti.app.conf
          [program:app]
          command=/srv/bin/primary_tech/npm start
          environment=PATH="/srv/bin/primary_tech:/usr/local/bin:/usr/bin:/bin:/srv/.npm-packages/bin",PUPPETEER_CACHE_DIR="/srv/.cache/puppeteer"
          stopasgroup=true
          directory=/srv/app
          process_name=app
          autostart=true
          autorestart=true
          stdout_logfile=/srv/log/node.log
          stdout_logfile_maxbytes=2MB
          stdout_logfile_backups=5
          stdout_capture_maxbytes=2MB
          stdout_events_enabled=false
          redirect_stderr=true
          EOF
          scp -o UserKnownHostsFile=./known_hosts -P $PORT rosti.app.conf $USER@$HOST:/srv/conf/supervisor.d/app.conf
          rm rosti.app.conf
      - name: Setup Nginx
        run: |
          cat << EOF > rosti.nginx.conf
          server {
              listen       0.0.0.0:8000;
              listen       [::]:8000;
              location / {
                      proxy_pass         http://127.0.0.1:8080/;
                      proxy_redirect     default;
                      proxy_set_header   X-Real-IP  \$remote_addr;
                      proxy_set_header   Host       \$host;
              }
              location /static/ {
                      alias /srv/app/public/;
              }
          }        
          EOF
          scp -o UserKnownHostsFile=./known_hosts -P $PORT rosti.nginx.conf $USER@$HOST:/srv/conf/nginx.d/app.conf
          rm rosti.nginx.conf
      - name: Copy code
        run: |
          rsync -ae "ssh -o UserKnownHostsFile=./known_hosts -p $PORT" --delete-after --exclude=.git ./ $USER@$HOST:/srv/app/
      - name: Install Puppeteer's Chrome on server
        run: |
          ssh -o UserKnownHostsFile=./known_hosts -p $PORT $USER@$HOST "mkdir -p /srv/.cache/puppeteer && PUPPETEER_CACHE_DIR=/srv/.cache/puppeteer /srv/bin/primary_tech/npx --yes puppeteer browsers install chrome"
      - name: Apply changes
        run: |
          ssh -o UserKnownHostsFile=./known_hosts -p $PORT $USER@$HOST supervisorctl reread
          ssh -o UserKnownHostsFile=./known_hosts -p $PORT $USER@$HOST supervisorctl restart app
          ssh -o UserKnownHostsFile=./known_hosts -p $PORT $USER@$HOST supervisorctl restart nginx
